<section class="home" id="home">
    <div class="swiper home-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="box">
                    <div class="background" style="background: url(/assets/Art.jpg) no-repeat;"></div>
                    <div class="content">
                        <h3>QazWiki</h3>
                        <p>Senı körgenımme quanyştymyn.Būl jerde sen öz tarihyñmen tanysyp öz atalaryñmen jaqyn tanysa alasyñ.</p>
                        <a routerLink="/register" class="btn">BASTAU</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
